header{
    background-color: black;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    color:inherit;
}

nav li{
    display: inline-block;
    padding: 20px;
    color:white;
}

nav li:hover{
    background-color: white;
    color:black;
}

footer{
    position:absolute;
    bottom: 0;
}


